body {
  margin: 0;
  background-color:#141414;
  color:white;
  font-family: calibri;
  margin-left: 10px;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
